
<div>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <h1> <img src="https://static.thenounproject.com/png/780067-200.png" width="60" height="60" alt="Logo"> Fitness Tracker App</h1>
        </div>        
    </div>
  </nav> 
  <hr/>
  <nav class="navbar nav-color sticky-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button (click)="landingpage()" class="btn"><i class="fa fa-home fa-2x">  Home </i></button>
        </div>     
        <div class="navbar-header">
            <button (click)="viewAppointment()" class="btn"><i class="fa fa-calendar-check-o fa-2x">  View Appointment </i></button>
        </div>     
        <div class="navbar-header">
            <button (click)="placeAppointment()" class="btn"><i class="fa fa-calendar-plus-o fa-2x">  Place Appointment </i></button>
        </div> 
        <div class="navbar-header">
            <button (click)="contactUspage()" class="btn"><i class="fa fa-users fa-2x">  Contact Us </i></button> 
        </div>          
    </div>
  </nav>  
  <hr/>
  <div class="row">
    <div class="col-sm-3">
      <div class="sidebar">
        <div class="nav navbar-nav">
          <button
            class="nav-item nav-link btn btn-block btn-info"
            (click)="landingpage()"
          >
            Home
          </button>
          <button
            class="nav-item nav-link btn btn-block btn-info"
            (click)="placeAppointment()"
          >
            Place Appointment
          </button>
          <button
            class="nav-item nav-link btn btn-block btn-info"
            (click)="viewAppointment()"
          >
            View Appointment
          </button>
          <button
            class="nav-item nav-link btn btn-block btn-info"
            (click)="contactUspage()"
          >
            Contact Us
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-9"><router-outlet></router-outlet></div>
  </div>
</div>
