@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
.rounded-circle {
  padding: 20px;
  margin: auto;
}
.logo {
  width: 100%;
}
.nav-color{
  background-color: aqua;
}
